
<!-- ### START - Main Section ### -->
<div class="main2 main" > 
<div class="gradient">
<div class="wrapper"> 
<div class="slogan">
	<h1>We would like to know about you</h1>
	<h2>Send us a email and we will get back within 24 hours. </h2> 
</div>
 	
</div> 
</div>
</div>
 
<!-- ### END - Main Section ### -->


<!-- ### START - about Section ### -->
<div class="contact">
<div class="wrapper">
<div class="row-fluid">
<div class="span8 "> 
<div class="wrap" id="overlay_form" >

<form id="contactform" class="form-contact"  action="mailer.php" method="post">
  <div id="success" ></div>
 
 
 
  <input  placeholder="Your Name"  type="text" class="input-name" id="name" name="name" /> 
 
  <input placeholder="Your Email" type="text" class="input-email" id="email" name="email" /> 
 
 
 
 <textarea placeholder="Your Message" class="message" name="message" rows="5" cols="20"></textarea> 
 
 <input type="submit" class="input-submit" value="Submit" id="send" /> 

</form>
</div>
</div>
<div class="span4 cont">
<h6>  Lister </h6>
<p>20740 Somwhere, New York
NY 4468, United States.</p>
<a href="#">Check on Google Maps ...</a>
<div class="credits">
 <p>Phone : <strong>1 888 466 1508</strong></p> 
 <p>Email : <strong>Contact@example.com</strong></p> 
  <p> Paypal account: <strong>Example@paypal.com</strong></p>

 <p class="help">Support : <strong>Support@example.com</strong></p> 
 </div>
</div>
</div>




 

</div>
</div>
<!-- ### END - about Section ### -->


 
<div class="divi-sub"></div>